body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.mypic {
  border-radius: 100%;
  height: 200px;
}

.myskill {
  border-radius: 100%;
  width:30%;
  float:left;
  margin-right: 30px;
}

.gaming {
  border-radius: 100%;
  height: 200px;
  width:30%;
  float:right;
  margin-left:30px;
}

a {
  color: #11999E;
font-family: 'Merriweather', serif;
margin:50px 20px;
text-decoration: none;


}
a:hover{
  color: #EAF6F6;
}

.program {
  font-weight: normal;
}
.skill-row{
  width:50%;
   text-align: left;
  margin:100px auto 100px auto;
  line-height: 2;

}
hr{
  background-color: white;
  border-style: none;
  height:0;
  width:4%;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  margin:100px auto 100px auto;
}
.contact-message{
  width:30%;
  margin:auto;
}
.intro{
  width:30%;
  margin:auto;
}
.game{
  margin:50px auto 50px auto;
}
.bottom-container{
  background-color:#66BFBF;
height:200px;

}
.whitecol{
  color: white;
  margin:50px 0 10px;
  font-size: 0.75rem;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #1199e);
  background-image: -moz-linear-gradient(top, #11cdd4, #1199e);
  background-image: -ms-linear-gradient(top, #11cdd4, #1199e);
  background-image: -o-linear-gradient(top, #11cdd4, #1199e);
  background-image: linear-gradient(to bottom, #11cdd4, #1199e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc4ad);
  text-decoration: none;
}
